{% extends "layout.html" %}
{% block body %}
<div class="row hero-unit">
  <div class="span12">
    <h1>Spectrum</h1>
    <p class="lead">A dynamic spectrum marketplace demo using PaySwarm</p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>Introduction</h2>

    <p>
Wireless devices such as mobile phones, laptops, and routers use
radio spectrum to communicate with one another. This spectrum is
often statically allocated and fairly fixed in the way it is
deployed. This static allocation usually leads to unfortunate
quality of service issues in heavily utilized areas such as
conference halls, city centers, or mass-transport terminals.
    </p>
    <p>
One approach to improving the quality of service problem is to
allow radios to purchase additional or alternative bandwidth 
channels using a dynamic spectrum marketplace.
    </p>
    <p>
A dynamic spectrum marketplace is a space in which wireless spectrum 
can be allocated, purchased, and sold. The goal of these sorts of
marketplaces is to ensure efficient usage of spectrum through 
the use of market forces. The more valuable a block of spectrum,
the higher the price it will fetch in the market.
    </p>
    <p>
This website is a demonstration of a dynamic spectrum marketplace. It
uses the PaySwarm open standard to express identity, licenses, 
digital contracts, and blocks of spectrum for sale. PaySwarm is also
used to execute the purchases for the blocks of spectrum. All purchases
result in a verifiable digital contract and receipt of sale.
    </p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <h2>How it Works</h2>

  <p>
A wireless device posts a request for a block of spectrum with
specific geographic boundary and transmit power limits. The request
is limited to a particular time frame.
  </p>
  <p>
If the request is accepted by the spectrum marketplace server, it
is approved for sale and the wireless device is notified. 
The device then completes the purchase for the spectrum using
PaySwarm and is provided a non-repudiable digital contract
which can be used to prove transmission rights for a particular
time frame.
  </p>
  </div>
</div>
{% endblock %}

